html {

    font-family: Helvetica, Arial, sans-serif;
    color:white;
}

.grid {

    display: grid;
    grid-template-columns: auto auto;
}

body {
    background-image: url("IMAGES/thumb.png");
    background-repeat: no-repeat;
    
    
}