html {

    font-family: Helvetica, Arial, sans-serif;
    /*color:white;*/
}

.grid {

    display: grid;
    grid-template-columns: 50% auto;
}

body {
    background-color: darkgrey;
    /*
    background-image: url("images/thumb.png");
    background-repeat: no-repeat;
    */
    
}

.bordered {

    border: thin solid black;
    padding: 20px;

}

h3 {

    border-bottom: thin solid black;
}